:css
  .backstretch{display:block}

.container
 
  %h2#home-title.pull-left.affix {{title}}

  .black-panel.affix

.tab-content
  #isotope_container.row.tab-pane.active
    {{#each photos}}

    .list_image_item
      %a.fancybox{:href => "{{PhotoImg 'xlarge'}}", :rel=>"group", title: "{{caption}}"}
        %img.img-responsive{:alt => "", :src => "{{PhotoImg 'square_200'}}"}/
      /
        .carousel-caption
          %h4 {{title}}
          %p {{caption}}

    {{/each}}

  {{{body}}}
