
#home{

  color:white;


  
  h1.title{
    color: #141416;
    display: block;
    font-size: 6em;
    //font-weight: 700;
    letter-spacing: -1px;
    line-height: 1.1;
    margin: 5% auto 0;
    text-align: center;
    @include text-shadow( 0 1px 2px rgba(0, 0, 0, 0.5));
    //@include opacity(0.2);
    font-family: $serif;
  }

    /* TWO COLUMN */
    @media screen and (min-width: 320px) {
      h1.title{
        font-size: 3em; 
      }
    }

    /* TWO COLUMN */
    @media screen and (min-width: 33em) {
      h1.title{
        font-size: 3em; 
      }
    }

    /* THREE COLUMN */
    @media screen and (min-width: 44em) {
      h1.title{
         font-size: 4em; 
      }
    }

    /* FOUR COLUMN */
    @media screen and (min-width: 55em) {
      h1.title{
         font-size: 6em; 
      }
    }
}