  #galleria{
    background: none repeat scroll 0 0 transparent !important;

    .galleria-container{
      background: none repeat scroll 0 0 transparent !important;
    }  
  }

#theme-1{

  #galleria{
    background: none repeat scroll 0 0 transparent !important;

    .galleria-container{
      background: none repeat scroll 0 0 transparent !important;
    }  
  }

  h2.centered, .h2.centered, h4.centered {
    color: #fff !important;
  }
  .text{
    color:white;
  }

} 
